DATABASE_URL=postgresql://recipe_vault_user:password@localhost:5432/recipe_vault
ANTHROPIC_API_KEY=sk-ant-api03-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=http://localhost:5173
SECRET_KEY=replace_this_with_a_long_random_string
ALGORITHM=replace_with_valid_hashing_algo
ACCESS_TOKEN_EXPIRE_MINUTES=300
